# EKSİK DEĞERLENDİRME İNCELENMESİ

In [5]:
import seaborn as sns
planets = sns.load_dataset('planets')
df= planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

* Hiç eksik gözlem var mı?
  - df.isnull().values.any()

In [8]:
df.isnull().values.any()

True

* hangi değişkende kaçar tane var?
  - df.isnull().sum()

In [14]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

* Bu durumun iki hızlı çözümü olabilir
* 1- Veri seti içerisindeki tüm eksik değerlere 0 değeri basılabilir eksiklik görünmesin bazı işlemler problem yaratmasın diye bu düşünceyle tüm eksik değerler yerine 0 değeri basılabilir.
  - df["degisken_ismi"].fillna(0,inplace=True)
* 2- Veri seti içerisindeki tüm eksik değerleri ortalama ile doldurma
   - df["degisken_ismi"].fillna(df.degisken_ismi.mean(),inplace=True)
* Tüm DataFrame deki eksik değerler yerine ortalamayı atamak istersek
  - df.fillna(df.mean(),inplace=True)

In [36]:
df["orbital_period"].fillna(0,inplace=True) # orbital_period değişkeninin tüm eksik değerleri 0 yapıldı

In [38]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [40]:
df["mass"].fillna(df.mass.mean(),inplace=True) #değişkenin eksik değerleri yerine ortalamayı eksik değerlerin yerine atama yaptık

In [42]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [50]:
planets = sns.load_dataset('planets')
df= planets.copy()

In [52]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64