# Veri Bilimi için İstatistik
## Örnek Teorisi

In [3]:
import numpy as np
populasyon =np.random.randint(0,80,10000)
populasyon[0:10]

array([25, 60,  8, 12, 52, 25, 38, 32, 43,  6])

* Örneklem çekimi konusunda rassal yani olasılıklı bir seçim yapıyoruz ve bunun için numpy kütüphanesini kullanıyor np.random.randint(0,80,10000) 0 ile 80 yaş arasında 10000 kişi bizim popülasyonumuzdur
* Örneklem çekerken np.random.seed() yapılacak olan işlemlerin her tekrar edildiğinde aynı sonuçları getirmeyi garanti eden bir method

In [9]:
# Örneklem çekimi
np.random.seed(115) # her tekrarda değişmeyeceğini garanti altına al. 
orneklem=np.random.choice(a=populasyon,size=100) # popülasyon içerisinden 100 kişilik bir örneklem çekiyoruz
orneklem[0:10]

array([71,  0, 34, 65, 70, 69,  7, 49, 13, 61])

In [11]:
orneklem.mean() # örneklemin ortalaması 36,62

36.62

In [13]:
populasyon.mean() # populasyonun ortalaması 39.6751

39.6751

In [15]:
# Orneklem dağılımı

In [17]:
np.random.seed(10)
ornkelem1=np.random.choice(a=populasyon,size=100)
ornkelem2=np.random.choice(a=populasyon,size=100)
ornkelem3=np.random.choice(a=populasyon,size=100)
ornkelem4=np.random.choice(a=populasyon,size=100)
ornkelem5=np.random.choice(a=populasyon,size=100)
ornkelem6=np.random.choice(a=populasyon,size=100)
ornkelem7=np.random.choice(a=populasyon,size=100)
ornkelem8=np.random.choice(a=populasyon,size=100)
ornkelem9=np.random.choice(a=populasyon,size=100)
ornkelem10=np.random.choice(a=populasyon,size=100)

In [21]:
(ornkelem1.mean() + ornkelem2.mean()+ ornkelem3.mean()+ ornkelem4.mean()
+ ornkelem5.mean()+ ornkelem6.mean()+ ornkelem7.mean()+ ornkelem8.mean()
+ ornkelem9.mean()+ ornkelem10.mean())/10

39.943

# Betimsel İstatistikler

In [27]:
import seaborn as sns
tips=sns.load_dataset("tips")
df=tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [29]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [33]:
!pip install researchpy
import researchpy as rp

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: researchpy in c:\users\pc\appdata\roaming\python\python311\site-packages (0.3.6)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (1.11.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (1.24.3)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from researchpy) (2.0.3)
Requirement already satisfied: statsmodels in c:\programdata\anaconda3\lib\site-packages (from researchpy) (0.14.0)
Requirement already satisfied: patsy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->researchpy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->researchpy) (2023.3)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\programdata\anaconda3\lib\site-packages (from statsmodels->researchpy) (23.1)

In [37]:
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [41]:
rp.summary_cat(df[["sex","smoker","day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [43]:
df[["tip","total_bill"]].cov() # Kovaryans tip değişkeni ile total_bill değişkeni arasındaki ilişki

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [45]:
df[["tip","total_bill"]].corr() #Korelasyon tip değişkeninin total_bill değişkeni arasındaki ilişki yönü şiddeti

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000